:root {
  --primary-font: "Chivo", sans-serif;
  --secondary-font: "Overpass", sans-serif;
  --color-dark-blue: #051f3d;
  --color-light-blue-1: #5ce1e6;
  --color-orange: #ffbd59;
  --color-light-blue-2: #effbfa;
  --color-black: #000000;
  --color-neutral-n1: #141414;
  --color-neutral-n2: #373737;
  --color-neutral-n3: #787878;
  --color-neutral-n4: #adadad;
  --color-neutral-n5: #d8d8d8;
  --color-neutral-n6: #f1f1f1;
  --color-neutral-n7: #ffffff;
  --color-neutral-n8: #f8f8f8;
}

/* Typography */
.heading-primary {
  font-family: "Chivo";
  font-weight: 700;
  font-size: 64px;
  line-height: 130.02%;
  letter-spacing: 0.045em;
  color: var(--color-dark-blue);
}

.heading-secondary {
}

.paragraph-primary {
  font-family: "Chivo";
  font-weight: 400;
  font-size: 30px;
  line-height: 130.02%;
  letter-spacing: 0.045em;
  color: var(--color-neutral-n2);
}

.paragraph-secondary {
}

/* Pagination */
.product-pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 36px;
  margin-top: 34px;
}

.pagination-first-btn,
.pagination-last-btn {
  text-decoration: none;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.015em;
  color: #adadad;
  cursor: pointer;
}

.pagination-left-arrow,
.pagination-right-arrow {
  border: none;
  background: transparent;
  cursor: pointer;
}

.pagination-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.pagination-page {
  text-decoration: none;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.015em;
  color: var(--color-black);
  padding: 9px 17px;
}

.pagination-page-active {
  background: var(--color-dark-blue);
  color: var(--color-neutral-n7);
  border-radius: 50%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-neutral-n7);
}

.main-container {
  padding: 88px 60px 70px 60px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto 80px auto;
}

.nav-logo-box a {
  display: inline-block;
  width: 264px;
  height: auto;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130.02%;
  letter-spacing: 0.045em;
  color: var(--color-black);
  transition: all 0.3s linear;
}

.nav-item:not(:last-child) {
  margin-right: 85px;
}

.nav-item a:hover {
  color: var(--color-neutral-n3);
}

.header-banner-wrapper {
  border-bottom: 1px solid var(--color-neutral-n5);
}

.header-banner {
  max-width: 1800px;
  width: 100%;
  padding: 53px 42px 64px 36px;
  border: 1px solid #adadad;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 33px;
  position: relative;
  margin-bottom: 44px;
}

.header-banner--left {
  width: 90%;
}

.header-banner-heading {
  margin-bottom: 21px;
}

.header-banner-paragraph {
  padding: 0 77px 0 0;
}

.header-banner--right {
  width: 10%;
}

.header-banner-img-box {
  position: absolute;
  bottom: -25px;
  right: 42px;
}

.header-banner-img-box img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* .milk-pick-product-wrapper {
  position: relative;
} */

.milk-product-filter-wrapper {
  position: relative;
}

.milk-pick-product-container {
  max-width: 1800px;
  width: 100%;
  margin-top: 32px;
}

.milk-pick-product-wrapper {
  display: flex;
  gap: 47px;
}

.milk-pick-product-left {
  max-width: 550px;
  width: 100%;
  background: var(--color-neutral-n8);
  border-radius: 0px 20px 0px 0px;
  padding: 42px 20px 109px 20px;
  margin-top: 105px;
}

.milk-pick-product-left::before {
  content: "Filters";
  width: 134px;
  padding: 35px 28px 20px 28px;
  background: var(--color-neutral-n8);
  display: block;
  position: absolute;
  top: 32px;
  left: 0;
  text-align: center;
  border-radius: 16px 16px 0px 0px;
  font-family: "Overpass";
  font-weight: 700;
  font-size: 24px;
  line-height: 130.02%;
  letter-spacing: 0.045em;
  color: #373737;
}

.milk-type-box,
.milk-brand-box,
.milk-flavor-box,
.milk-storage-box,
.milk-features-box,
.milk-buying-option-box {
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-neutral-n4);
  padding-bottom: 16px;
}

.milk-type-button,
.milk-brand-button,
.milk-flavor-button,
.milk-storage-button,
.milk-feature-button,
.milk-buying-option-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.milk-type-button-heading {
  font-family: "Overpass";
  font-weight: 700;
  font-size: 24px;
  line-height: 130.02%;
  letter-spacing: 0.045em;
  color: var(--color-neutral-n1);
}

.filter-box-content {
  margin-top: 16px;
}

.check-box-content {
  display: flex;
  align-items: center;
}

.check-box-content:not(:last-child) {
  margin-bottom: 16px;
}

.filter-product-checkbox {
  margin-right: 10px;
  background: var(--color-neutral-n6);
  border: 1px solid var(--color-neutral-n3);
  border-radius: 6px;
  /* Remove default checkbox appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add custom checkbox appearance */
  width: 32px;
  height: 31px;
  outline: none;
  cursor: pointer;
  /* Position the tick mark */
  position: relative;
}

.filter-product-checkbox:checked {
  background-color: #787878;
}

/* Add the tick mark */
.filter-product-checkbox:checked::after {
  content: "\2714";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.filter-product-title {
  font-family: "Overpass";
  font-weight: 400;
  font-size: 24px;
  line-height: 130.02%;
  letter-spacing: 0.045em;
  color: var(--color-neutral-n3);
}

.milk-pick-product-right {
  max-width: 1203px;
  width: 100%;
}

.milk-product-search-bar {
  max-width: 100%;
  position: relative;
}

.milk-brand-search-box {
  position: relative;
  width: 100%;
  margin-bottom: 33px;
}

.milk-brand-search-input {
  background: var(--color-neutral-n7);
  border: 1px solid var(--color-neutral-n4);
  padding: 14px 10px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.015em;
  outline: none;
  width: 100%;
}

.milk-brand-search-input::placeholder {
  color: var(--color-neutral-n4);
}

.milk-brand-search-icon {
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
}

.milk-brand-content-box {
  height: 500px;
  overflow-y: scroll;
}

.milk-brand-content-box::-webkit-scrollbar {
  width: 4px;
  height: 224px;
}

/* Customize scrollbar handle */
.milk-brand-content-box::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-n2);
  border-radius: 15px;
  height: 224px;
}

/* Set scrollbar track background color */
.milk-brand-content-box::-webkit-scrollbar-track {
  background-color: var(--color-neutral-n6);
}

.milk-product-search-input {
  width: 100%;
  padding: 28px 120px 28px 28px;
  border: 1px solid var(--color-neutral-n5);
  outline: none;
  border-radius: 16px;
  font-family: "Overpass";
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.015em;
  color: #adadad;
}

.milk-product-search-input::placeholder {
  font-family: inherit;
  font-weight: inherit;
  color: #adadad;
}

.milk-product-search-btn {
  display: inline-block;
  border: none;
  background: var(--color-light-blue-1);
  padding: 14px 31px;
  border-radius: 17px;
  cursor: pointer;
  position: absolute;
  right: 9px;
  top: 11px;
}

.milk-product-search-btn img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.milk-products-container {
  display: flex;
  margin-top: 48px;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
}

.milk-product-card {
  border: 1px solid var(--color-neutral-n5);
  border-radius: 33px;
  padding: 19px 24px 23px 24px;
}

.milk-product-card-content {
  text-align: center;
}

.milk-product-img {
  margin-bottom: 33px;
  width: 230px;
  height: 230px;
  object-fit: contain;
}

.milk-product-title {
  font-family: "Overpass";
  font-weight: 700;
  font-size: 24px;
  line-height: 130.02%;
  letter-spacing: 0.045em;
  color: var(--color-black);
  margin-bottom: 12px;
}

.milk-product-brand {
  display: block;
  margin: 0 auto 37px auto;
}

.milk-product-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-neutral-n7);
  background: var(--color-dark-blue);
  padding: 17px;
  border-radius: 14px;
  font-family: "Overpass";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.015em;
  border: 1px solid var(--color-dark-blue);
}

.milk-product-btn-arrow {
  display: inline-block;
  margin-left: 20px;
  width: 25px;
  height: 16px;
}

.milk-product-btn-arrow svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
}

.milk-product-btn:hover .milk-product-btn-arrow svg {
  transform: translateX(10px);
}

.filter-box-content {
  max-height: 100%;
  opacity: 1;
  transition: 0.3s;
}

.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.filter-box-header {
  cursor: pointer;
}
.section-footer {
  padding: 84px 60px 95px 60px;
  background: var(--color-dark-blue);
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 68px;
}

.footer-container-left-content {
  max-width: 40%;
  width: 100%;
  padding-right: 94px;
}

.footer-logo {
  display: inline-block;
  width: 434px;
  height: 69px;
  margin-bottom: 58px;
}

.footer-discription-text {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.015em;
  color: var(--color-neutral-n6);
}

.footer-discription-text:not(:last-child) {
  margin-bottom: 15px;
}

.footer-nav {
  display: flex;
  gap: 102px;
}

.footer-container-right-content {
  display: flex;
  justify-content: end;
  max-width: 60%;
  width: 100%;
  gap: 102px;
}

.footer-nav-title {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.015em;
  color: var(--color-neutral-n7);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-neutral-n7);
  margin-bottom: 25px;
}

.footer-nav-item {
  text-decoration: none;
  list-style: none;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 18px;
}

.footer-nav-item-link {
  text-decoration: none;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.015em;
  color: var(--color-neutral-n6);
}

.footer-social-media-container {
  display: flex;
  align-items: center;
}

.footer-social-media-box {
  background: var(--color-neutral-n7);
  padding: 10px;
  border-radius: 6px;
  width: 40px;
  height: 40px;
}

.footer-social-media-box:not(:last-child) {
  margin-right: 18px;
}

.footer-copy-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  background: var(--color-neutral-n7);
  text-align: center;
}

.copy-right-text,
.privacy-policy-text,
.affiliate-disclosure-text {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130.02%;
  letter-spacing: 0.045em;
  color: var(--color-dark-blue);
}

.copy-right-text,
.privacy-policy-text {
  border-right: 1px solid var(--color-dark-blue);
  padding-right: 28px;
  margin-right: 23px;
}

@media screen and (max-width: 1742px) {
  .milk-pick-product-left {
    max-width: 450px;
  }
}

@media screen and (max-width: 1642px) {
  .milk-pick-product-left {
    max-width: 400px;
  }
}

@media screen and (max-width: 1591px) {
  .milk-pick-product-left {
    max-width: 350px;
  }
}

@media screen and (max-width: 1541px) {
  .milk-pick-product-left {
    max-width: 335px;
  }
}

@media screen and (max-width: 1440px) {
  .header-nav {
    max-width: 1320px;
  }

  .header-banner {
    max-width: 1320px;
  }

  .header-banner-paragraph {
    padding: 0 140px 0 0;
  }

  .milk-pick-product-container {
    max-width: 1320px;
  }

  .milk-pick-product-right {
    max-width: 937px;
  }

  .milk-products-container {
    gap: 23px;
  }

  .footer-container-right-content {
    gap: 75px;
  }

  .product-pagination {
    gap: 34px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1404px) {
  .milk-product-card {
    width: 45%;
  }
}

@media screen and (max-width: 1320px) {
  .main-container {
    padding: 50px 30px;
  }

  .header-nav {
    max-width: 1280px;
  }

  .header-banner {
    max-width: 1280px;
  }

  .milk-pick-product-container {
    max-width: 1280px;
  }

  .milk-product-card-content {
    max-width: 297px;
    margin: 0 auto;
  }

  .section-footer {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 1240px) {
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }

  .footer-container-right-content {
    gap: 20px;
  }

  .footer-nav {
    gap: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .hamburger,
  .nav-item--close,
  .milk-pick-product-toggle,
  .filter-close-btn {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    padding-top: 100px;
  }

  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background: var(--color-neutral-n7);
    z-index: 99;
  }

  .nav-items {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 222;
    padding-block: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    transition: top 0.5s ease-in-out;
  }

  .nav-items.active {
    top: 0;
  }

  .nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .hamburger {
    width: 22px;
    height: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .nav-item--close {
    width: 22px;
    height: 22px;
    margin: 0 20px 40px auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .nav-item a {
    font-weight: 700;
  }

  .milk-pick-product-left {
    margin-top: 0;
    z-index: 1000;
    padding-top: 85px;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
  }

  .milk-pick-product-left::-webkit-scrollbar {
    display: none;
  }

  .milk-pick-product-left {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }

  .milk-pick-product-left::-webkit-scrollbar {
    display: none; /* Chrome and Safari */
  }

  .milk-pick-product-btn-wrapper {
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }

  .milk-pick-product-btn-wrapper::after {
    content: "";
    display: block;
    width: 125px;
    height: 5px;
    background-color: var(--color-black);
    margin: 20px auto 0 auto;
  }

  .milk-pick-product-toggle {
    padding: 20px 35px;
    border-radius: 20px;
    background: var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }

  .milk-pick-product-toggle img {
    margin-right: 10px;
  }

  .milk-pick-product-toggle-text {
    font-family: "Overpass";
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.015em;
    color: var(--color-black);
  }

  .milk-pick-product-left.active {
    left: 0;
  }

  .milk-pick-product-left::before {
    padding: 35px 28px 0 20px;
    top: 0;
  }

  .milk-type-box {
    position: relative;
    margin-top: 30px;
  }

  .filter-close-btn {
    position: absolute;
    top: -78px;
    left: 240px;
    z-index: 1001;
    border: none;
    background: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .filter-close-btn img {
    width: 20px;
    height: 20px;
  }

  .header-banner--right {
    width: 100%;
  }

  .header-banner-paragraph {
    padding: 0;
  }

  .header-banner--right {
    display: none;
  }

  .milk-products-container {
    justify-content: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-container-left-content {
    max-width: 100%;
    margin-bottom: 45px;
  }

  .footer-nav {
    gap: 0;
    justify-content: space-between;
  }

  .footer-container-right-content {
    justify-content: flex-start;
    flex-direction: column;
    gap: 45px;
  }

  .product-pagination {
    justify-content: center;
    margin-right: 0;
    gap: 20px;
  }
}

@media screen and (min-width: 830px) {
  .product-pagination-mobile {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  .pagination-pages {
    gap: 25px;
  }
  .product-pagination-desktop {
    display: none;
  }

  .copy-right-text,
  .privacy-policy-text,
  .affiliate-disclosure-text {
    font-size: 18px;
    line-height: 130.02%;
  }

  .copy-right-text,
  .privacy-policy-text {
    padding-right: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 100px 20px;
  }

  .header-banner {
    padding: 25px 18px;
  }

  .section-footer {
    padding: 50px 20px;
  }

  .product-pagination {
    gap: 20px;
  }

  .pagination-pages {
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    padding: 75px 20px 64px 20px;
  }

  .nav-img-box img {
    width: 138px;
    height: 22px;
    object-fit: contain;
  }

  .nav-items {
    padding: 25px;
  }

  .nav-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .nav-item a {
    font-size: 20px;
  }

  .header-banner {
    margin-bottom: 20px;
  }

  .header-banner--left {
    width: 100%;
  }

  .header-banner-heading {
    margin-bottom: 20px;
  }

  .heading-primary {
    font-size: 30px;
  }

  .paragraph-primary {
    font-size: 16px;
    line-height: 120%;
  }

  .milk-pick-product-container {
    margin-top: 16px;
  }

  .milk-products-container {
    margin-top: 16px;
    gap: 20px;
  }

  .milk-product-card {
    width: 100%;
  }

  .milk-product-img {
    width: 198px;
    height: 198px;
    margin-bottom: 20px;
  }

  .milk-product-brand {
    margin: 0 auto 20px auto;
  }

  .milk-product-search-input {
    padding: 16px 7px 16px 12px;
    font-size: 16px;
    line-height: 120%;
  }

  .milk-product-search-btn {
    padding: 11px 22px;
    right: 7px;
    top: 5px;
  }

  .milk-product-search-btn img {
    width: 18px;
    height: 18px;
  }

  .footer-logo {
    width: 220px;
    height: 35px;
    margin-bottom: 36px;
  }

  .footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .footer-discription-text {
    font-size: 16px;
  }

  .footer-container-right-content {
    max-width: 100%;
  }

  .footer-nav {
    gap: 80px;
    justify-content: flex-start;
  }

  .footer-container-left-content {
    padding: 0;
  }

  .footer-nav-title {
    font-size: 16px;
  }

  .footer-nav-item-link {
    font-size: 16px;
  }

  .footer-copy-right-section {
    padding: 33px 20px;
  }

  .copy-right-text,
  .privacy-policy-text,
  .affiliate-disclosure-text {
    font-size: 14px;
    line-height: 120%;
  }

  .copy-right-text,
  .privacy-policy-text {
    padding-right: 7px;
    margin-right: 7px;
  }
}

@media screen and (max-width: 500px) {
  .pagination-first-btn,
  .pagination-last-btn {
    font-size: 16px;
  }

  .pagination-left-arrow svg,
  .pagination-right-arrow svg {
    display: block;
    width: 6px;
    height: 12px;
    object-fit: contain;
  }

  .pagination-page {
    padding: 6px 12px;
    font-size: 16px;
  }
}

@media screen and (max-width: 468px) {
  .milk-pick-product-toggle {
    padding: 20px;
  }

  .milk-pick-product-toggle img {
    width: 15px;
    height: 15px;
  }

  .milk-pick-product-toggle-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 426px) {
  .copy-right-text,
  .privacy-policy-text,
  .affiliate-disclosure-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 390px) {
  .footer-social-media-container {
    flex-wrap: wrap;
    gap: 18px;
  }

  .footer-social-media-box:not(:last-child) {
    margin: 0;
  }
}

@media screen and (max-width: 380px) {
  .copy-right-text,
  .privacy-policy-text,
  .affiliate-disclosure-text {
    font-size: 10px;
  }
}
